<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>	  <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>	  <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<title>SciFlowWriter</title>
		<link rel="stylesheet" type="text/css" href="/static/plugins/ep_sciflowwriter/static/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/static/plugins/ep_sciflowwriter/static/css/profile.css">
		<script type="text/javascript">
			var authorID = '<%= user.id %>';
			var author = {
				name: '<%= user.name %>',
				email: '<%= user.email %>',
				image: '<%= user.image %>',
				institute1: '<%= user.institute1 %>',
				institute2: '<%= user.institute2 %>',
				institute3: '<%= user.institute3 %>',
				street: '<%= user.street %>',
				city: '<%= user.city %>',
				country: '<%= user.country %>'
			};
		</script>
	</head>
	<body>
		
		<header>
			<div class="container">
				<h1>SciFlowWriter</h1>
				<div class="headermenu">
					<a href="/"><%= user.name %> <img src="<%= user.image %>"></a>
				</div>
			</div>
		</header>
		<div class="container">
			<div class="contentContainer">
				<aside>
					<div id="avatar"><img src="<%= user.image %>"></div>
					<div class="padmenu">
						<ul>
							<li class="active">
								<a href="#mypads">My Pads</a>
							</li>
							<li>
								<a href="#otherpads">Other Pads</a>
							</li>
						</ul>
					</div>
				</aside>
				<div id="right">
					<div id="personalInformation">
						<h2 id="name" class="editable"><%= user.name %></h2>
						<p id="email" class="editable"><%= user.email %></p>
						<div id="editProfile">
							<button class="button green">Edit</button>
						</div>
					</div>
					<div id="content">
						<div id="mypads">
							<h3>My Pads</h3>
							<p><a id="newpad" href="#">new pad</a></p>
							<ul>
								<% for(var i=0; i<user.pads.my.length; i++) { %>
								<li>
									<div class="padName"><a href="/p/<%= user.pads.my[i].padID %>"><%= user.pads.my[i].title %></a></div>
									<div class="authors"><%= user.pads.my[i].authors %></div>
								</li>
								<% } %>
							</ul>
						</div>
						<div id="otherpads" style="display:none">
							<h3>Other Pads</h3>
							<ul>
								<% for(var i=0; i<user.pads.other.length; i++) { %>
								<li>
									<div class="padName"><a href="/p/<%= user.pads.other[i].padID %>"><%= user.pads.other[i].title %></a></div>
									<div class="authors"><%= user.pads.other[i].authors %></div>
								</li>
								<% } %>
							</ul>
						</div>
					</div>
				</div>
				<div id="headline"></div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="modal" id="profilePopup">
			<div class="modal-header">
				<button class="close" data-dismiss="modal">×</button>
				<h3>Edit Profile</h3>
			</div>
			<div class="modal-body">
				<p>
					Name:<br>
					<input name="name" id="profileNameInput">
				</p>
				<p>
					Email:<br>
					<input name="email" id="profileEmailInput">
				</p>
				<p>
					Image:<br>
					<input name="image" id="profileImageInput">
				</p>
				<p>
					Institute:<br>
					<input name="institute1" id="profileInstitute1Input"><br>
					<input name="institute2" id="profileInstitute2Input"><br>
					<input name="institute3" id="profileInstitute3Input">
				</p>
				<p>
					Street:<br>
					<input name="street" id="profileStreetInput">
				</p>
				<p>
					Zip, City:<br>
					<input name="city" id="profileCityInput">
				</p>
				<p>
					Country:<br>
					<input name="country" id="profileCountryInput">
				</p>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn" id="cancelProfile">Cancel</a>
				<a href="#" class="btn btn-primary" id="saveProfile">Save</a>
			</div>
		</div>

		<script src="/static/js/jquery.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/static/plugins/ep_sciflowwriter/static/js/bootstrap-modal.js"></script>
		<script type="text/javascript">
		
		var ucfirst = function(text) {
			return text.charAt(0).toUpperCase() + text.substr(1);
		}
		
		$(function(){

			var socket = io.connect().of("/profile");
			$('#profilePopup').modal({show: false});

			var editmode = false;
			
			$('#editProfile button').on('click', function(){
				
				$.each(author, function(name, value) {
					$('#profile' + ucfirst(name) + 'Input').val(value);
				});

				$('#profilePopup').modal('show');

				return false;
			});

			$('#saveProfile').on('click', function() {
				$('#profilePopup').modal('hide');

				$.each(author, function(name, value) {
					author[name] = $('#profile' + ucfirst(name) + 'Input').val();
				});

				author.id = authorID
				socket.emit('update', author);

				$('#name').text(author.name);
				$('#email').text(author.email);

				return false;
			});

			$('#cancelProfile').on('click', function() {
				$('#profilePopup').modal('hide');
				return false;
			});

			$('.padmenu li a').on('click', function(e) {
				var show = $(this).attr('href');
				$('#mypads,#otherpads').hide();
				$(show).show();
				$('.padmenu li').removeClass('active')
				$(this).parent().addClass('active');
				return false;
			});

			$('#newpad').on('click', function(e){
				var name = prompt('Please name your pad:');
				
				if (name !== null) {
					$.getJSON('/profile/newpad?name='+name, function(data){
						$('#mypads ul').append('<li><div class="padName"><a href="' + data.uri + '">' + data.padID + '</a></div><div class="authors">' + $('#name').text() + '</div></li>');
					});
				}

				return false;
			});

			
		});
		</script>
	</body>
</html>