<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>	  <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>	  <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<title>SciFlowWriter</title>
		<link rel="stylesheet" type="text/css" href="/static/plugins/ep_sciflowwriter/static/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/static/plugins/ep_sciflowwriter/static/css/profile.css">
		<script src="/socket.io/socket.io.js"></script>
		<script type="text/javascript">
			var authorID = '<%= user.id %>';
		</script>
	</head>
	<body>
		
		<header>
			<div class="container">
				<h1>SciFlowWriter</h1>
				<div class="headermenu">
					<a href="/"><%= user.name %> <img src="<%= user.image %>"></a>
				</div>
			</div>
		</header>
		<div class="container">
			<div class="contentContainer">
				<aside>
					<div id="avatar"><img src="<%= user.image %>"></div>
					<div class="padmenu">
						<ul>
							<li class="active">
								<a href="#mypads">My Pads</a>
							</li>
							<li>
								<a href="#otherpads">Other Pads</a>
							</li>
						</ul>
					</div>
				</aside>
				<div id="right">
					<div id="personalInformation">
						<h2 id="name" class="editable"><%= user.name %></h2>
						<p id="email" class="editable"><%= user.email %></p>
						<div id="editProfile">
							<button class="button green">Edit</button>
						</div>
					</div>
					<div id="content">
						<div id="mypads">
							<h3>My Pads</h3>
							<!--input type="search" name="s" results="5"-->
							<p><a id="newpad" href="#">new pad</a></p>
							<ul>
								<% for(var i=0; i<user.pads.my.length; i++) { %>
								<li>
									<div class="padName"><a href="/p/<%= user.pads.my[i].padID %>"><%= user.pads.my[i].title %></a></div>
									<div class="authors"><%= user.pads.my[i].authors %></div>
								</li>
								<% } %>
							</ul>
							...
						</div>
						<div id="otherpads" style="display:none">
							<h3>Other Pads</h3>
							<ul>
								<% for(var i=0; i<user.pads.other.length; i++) { %>
								<li>
									<div class="padName"><a href="/p/<%= user.pads.other[i].padID %>"><%= user.pads.other[i].title %></a></div>
									<div class="authors"><%= user.pads.other[i].authors %></div>
								</li>
								<% } %>
							</ul>
						</div>
					</div>
				</div>
				<div id="headline"></div>
				<div class="clearfix"></div>
			</div>
		</div>

		<script src="/static/js/jquery.js"></script>
		<script type="text/javascript">
		$(function(){

			var socket = io.connect().of("/profile");

			var editmode = false;
			
			$('#editProfile button').on('click', function(){
				if(editmode) {
					editmode = false;
					$('#editProfile button').text('Edit');
					$('.editprofile').each(function() {
						$('#' + $(this).attr('id').substr(4)).text($(this).val());
						$(this).remove();
					});
					$('.hidden').removeClass('hidden').show();
					socket.emit('update', {
						id: authorID,
						name: $('#name').text(),
						email: $('#email').text()
					});
				} else {
					editmode = true;
					$('.editable').each(function(e) {
						$(this).addClass('hidden').hide().after('<input class="editprofile" id="edit' + $(this).attr('id') + '" type="text" value="' + $(this).text() + '" />');
					})
					$('.editprofile').css({display:'block'});
					$('#editProfile button').text('Save');
				}
			});

			$('.padmenu li a').on('click', function(e) {
				var show = $(this).attr('href');
				$('#mypads,#otherpads').hide();
				$(show).show();
				$('.padmenu li').removeClass('active')
				$(this).parent().addClass('active');
				return false;
			});

			$('#newpad').on('click', function(e){
				var name = prompt('Please name your pad:');
				
				if (name !== null) {
					$.getJSON('/profile/newpad?name='+name, function(data){
						$('#mypads table tbody').append('<tr><td><a href="'+data.uri+'">'+data.padID+'</a></td><td>&nbsp;</td><td>&nbsp;</td></tr>');
					});
				}

				return false;
			});

			
		});
		</script>
	</body>
</html>