<%
var user = {name:'test'};
%>
<div class="widget authors">
    <div class="widget-header">
        <div class="widget-title">Authors</div>
        <div class="widget-menu"><span>&mdash;</span></div>
    </div>
    <div class="widget-content">
        <ul>
        <li class="clear">
        <img src="http://a0.twimg.com/profile_images/1622489700/i8zcrobqezboicqzorzbwkruqwbekcuq_normal.png" alt="avatar">
        <strong><%= user.name %></strong><br>
        test@test.test
        </li>
        <li class="clear">
        <img src="https://twimg0-a.akamaihd.net/profile_images/1430461941/avatar_4_reasonably_small.jpg" alt="avatar">
        <strong>Author 2</strong><br>
        test@test.test
        </li>
        </ul>
    </div>
    <div class="widget-footer clear"><a href="#invite">invite author</a></div>
</div>