<div class="modal" id="referencesPopup">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h3>Reference</h3>
  </div>
  <div class="modal-body">
  	<input type="hidden" name="title" value="" id="referenceIdInput">
    <p>
	    Type:<br>
	    <select id="referenceTypeInput">
	    	<option value="article">Article</option>
	    	<option value="book">Book</option>
	    	<option value="booklet">Booklet</option>
	    	<option value="conference">Conference</option>
	    	<option value="inbook">Inbook</option>
	    	<option value="incollection">Incollection</option>
	    	<option value="inproceedings">Inproceedings</option>
	    	<option value="manual">Manual</option>
	    	<option value="mastersthesis">Master's Thesis</option>
	    	<option value="Misc">Misc</option>
	    	<option value="phdthesis">Phd Thesis</option>
	    	<option value="proceedings">Master Thesis</option>
	    	<option value="techreport">Techreport</option>
	    	<option value="unpublished">Unpublished</option>
	    </select>
	</p>
	<p>
	    Title:<br>
	    <input name="title" id="referenceTitleInput">
	</p>
	<p>
	    Authors:<br>
	    <input name="title" id="referenceAuthorsInput">
	</p>
	<p>
	    URL:<br>
	    <input name="title" id="referenceUrlInput">
	</p>
	<p>
	    Year:<br>
	    <input name="title" id="referenceYearInput">
	</p>
	<p>
	    Month:<br>
	    <input name="title" id="referenceMonthInput">
	</p>
	<p>
	    Publisher:<br>
	    <input name="title" id="referencePublisherInput">
	</p>
	<p>
	    Journal:<br>
	    <input name="title" id="referenceJournalInput">
	</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" id="cancelReference">Cancel</a>
    <a href="#" class="btn btn-primary" id="saveReference">Save changes</a>
  </div>
</div>