<div class="widget references">
    <div class="widget-header">
        <div class="widget-title">References</div>
        <div class="widget-menu"><span>&mdash;</span></div>
    </div>
    <div class="widget-content">
        <ul id="references">
            No references found
            <!-- <li class="reference" rel="6sge5rg6js73fgh2">
                <span class="title">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt
                </span>
                <span class="delete">&times;</span>
            </li> -->
        </ul>
    </div>
    <div class="widget-footer clear"><a href="#referencesPopup" id="referencesEdit" data-toggle="modal">add</a></div>
</div>