.widget.references {
	display: none;
}
#references {
	list-style: none;
}
#references .reference {
	cursor: pointer;
	padding: 2px 0;
	margin: 1px 0;
	position: relative;
}

#references .reference:hover {
	background-color: #EFEFEF;
	padding-left: 25px;
}

#references .reference .title {
	padding-right: 15px;
}

#references .reference .delete {
	position: absolute;
	top: 0;
	right: 2px;
	font-size: 15px;
	font-weight: bold;
	line-height: 13px;
	padding: 1px 3px 3px;
	opacity: 0;
}
#references .reference:hover .delete {
	opacity: 0.3;
}
#references .reference:hover .delete:hover {
	opacity: 0.7;
}

#references .reference .addCite {
	position: absolute;
	top: 2px;
	left: 0;
	font-size: 20px;
	font-weight: bold;
	line-height: 13px;
	padding: 1px 3px 3px;
	opacity: 0;
}
#references .reference:hover .addCite {
	opacity: 0.3;
}
#references .reference:hover .addCite:hover {
	opacity: 0.7;
}

#references .reference.selectedd {
	background-color: lightgreen;
}

#referencesPopup {
	display: none;
}