<div class="modal" id="metadataPopup">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h3>Metadata</h3>
  </div>
  <div class="modal-body">
    <p>
	    Title:<br>
	    <input name="title" id="metadataTitleInput">
	</p>
	<p>
	    Subtitle:<br>
	    <input name="subtitle" id="metadataSubtitleInput">
	</p>
	<p>
	    Abstract:<br>
	    <textarea name="abstract" id="metadataAbstractInput"></textarea>
	</p>
	<p>
	    Keywords:<br>
	    <input name="keywords" id="metadataKeywordsInput">
	</p>
	<p>
	    Categories:<br>
	    <input name="categories" id="metadataCategoriesInput">
	</p>
	<p>
	    General Terms:<br>
	    <input name="generalterms" id="metadataGeneraltermsInput">
	</p>
	<p>
		LaTeX Template:
		<select id="metadataTemplateInput">
			<option value="ieee">IEEE</option>
			<option value="springer-llncs">Springer-LLNCS</option>
			<option value="springer-svmult">Springer-SVMULT</option>
		</select>
	</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" id="cancelMetadata">Cancel</a>
    <a href="#" class="btn btn-primary" id="saveMetadata">Save changes</a>
  </div>
</div>