<div class="widget metadata">
    <div class="widget-header">
        <div class="widget-title">Metadata</div>
        <div class="widget-menu"><span>&mdash;</span></div>
    </div>
    <div class="widget-content">
        <strong>Title:</strong> <span id="metadataTitle"></span><br>
        <strong>Subtitle:</strong> <span id="metadataSubtitle"></span><br>
        <strong>Abstract:</strong> <span id="metadataAbstract"></span>
    </div>
    <div class="widget-footer clear"><a href="#metadataPopup" id="metadataEdit" data-toggle="modal">edit</a></div>
</div>