<div class="widget metadata">
    <div class="widget-header">
        <div class="widget-title">Metadata</div>
        <div class="widget-menu"><span>&mdash;</span></div>
    </div>
    <div class="widget-content">
        <strong>Title:</strong> <span id="metadataTitle"></span><br>
        <strong>Subtitle:</strong> <span id="metadataSubtitle"></span><br>
        <strong>Abstract:</strong> <span id="metadataAbstract"></span><br>
        <strong>Keywords:</strong> <span id="metadataKeywords"></span><br>
        <strong>Categories:</strong> <span id="metadataCategories"></span><br>
        <strong>General Terms:</strong> <span id="metadataGeneralterms"></span>

    </div>
    <div class="widget-footer clear"><a href="#metadataPopup" id="metadataEdit" data-toggle="modal">edit</a></div>
</div>